/* --------------------------------------------------------
Style Sheet for Website's Name
version: 2.2
last modified: 13.11.2008 by Someone Else
author: Author's Name
email: author@domain.com
website: http://yourwebsite.com
developer name: Nasir Khan;
developer email:nasirkhan.webdev@gmail.com
developer url: http://nasirkhan.me
----------------------------------------------------------*/





@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.font-roboto{
	font-family: 'Roboto', sans-serif;
}

.font-30{
	font-size: 30px;
}
.font-25{
	font-size: 25px;
}
.font-28{
	font-size: 28px;
}

.color-1{
	color: #3578b1;
}
.bg-1{
	background: #3578b1;
}
.btn-1{
	display: inline-block;
	padding: 4px 30px;
	border: 0px;
	font-size: 20px;
	color: #fff;
}
.py-200{
	padding: 200px 0px; 
}

.home_content{
	background: rgba(0,0,0,0.5);
}
#home_area{
	background: url('../img/img-1.jpg');
	background-position: center;
	background-size: cover;
}
.home-title{
	color: #fff;
}
.home_btn{
	color: #fff;
	display: inline-block;
	padding: 3px 40px;
	font-size: 30px;
	border-radius: 30px;
	box-shadow: 1px 2px 3px 2px #828282;
	transition: 0.4s;
}
.home_btn:hover{
	text-decoration: none;
	color: #fff;
	box-shadow: none;
}

.social-link{
	list-style: none;
}
.social-link li{
	display: inline-block;
}